In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# deal with ratings.csv
ratings_data = pd.read_csv('ratings.csv')
ratings_grouped = ratings_data.groupby('movieId').mean()
ratings_grouped.drop(['timestamp', 'userId'], axis = 1, inplace = True)
ratings_grouped.rename(columns={'movieId':'id'}, inplace=True)

ratings_grouped.head()

           rating
movieId
1        3.888157
2        3.236953
3        3.175550
4        2.875713
5        3.079565

In [4]:
# deal with movies_metadata.csv
movies_metadata = pd.read_csv('movies_metadata.csv')
movies_metadata.drop(['adult', 'belongs_to_collection', 'genres', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'], axis = 1, inplace = True)

movies_metadata.head(10)

C:\Users\bonni\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

     budget     id
0  30000000    862
1  65000000   8844
2         0  15602
3  16000000  31357
4         0  11862
5  60000000    949
6  58000000  11860
7         0  45325
8  35000000   9091
9  58000000    710

In [5]:
merged_data = movies_metadata.merge(ratings_grouped, on='id', how='inner')

KeyError: 'id'

In [ ]:
merged_data.plot(x=merged_data.budget, y=merged_data.rating)